POSTGRES_DB=postgres
POSTGRES_USER=bm_user
POSTGRES_PASSWORD=bm_password

AUTH_DB_URL=jdbc:postgresql://postgres:5432/auth_db
AUTH_DB_USERNAME=bm_user
AUTH_DB_PASSWORD=bm_password

BUILDING_DB_URL=jdbc:postgresql://postgres:5432/building_db
BUILDING_DB_USERNAME=bm_user
BUILDING_DB_PASSWORD=bm_password

ANNOUNCEMENT_DB_URL=jdbc:postgresql://postgres:5432/announcement_db
ANNOUNCEMENT_DB_USERNAME=bm_user
ANNOUNCEMENT_DB_PASSWORD=bm_password

SHARE_AND_HELP_DB_URL=jdbc:postgresql://postgres:5432/share_and_help_db
SHARE_AND_HELP_DB_USERNAME=bm_user
SHARE_AND_HELP_DB_PASSWORD=bm_password

CHAT_DB_URL=jdbc:postgresql://postgres:5432/chat_db
CHAT_DB_USERNAME=bm_user
CHAT_DB_PASSWORD=bm_password

AUTH_JWT_SECRET=myVeryLongSecureJwtSecretKeyForBuildingManagement2026AtLeast32Chars
AUTH_JWT_EXPIRATION_MINUTES=60

AUTH_SERVICE_URL=http://bm-auth-service:8081
BUILDING_SERVICE_URL=http://bm-building-service:8083
ANNOUNCEMENT_SERVICE_URL=http://bm-announcement-service:8084
SHARE_AND_HELP_SERVICE_URL=http://bm-share-and-help-service:8085
FILE_SERVICE_URL=http://bm-file-service:8086
CHAT_SERVICE_URL=http://bm-chat-service:8087
NOTIFICATION_SERVICE_URL=http://bm-notification-service:8088

CHAT_SERVICE_PORT=8087
FILE_SERVICE_PORT=8086
NOTIFICATION_SERVICE_PORT=8088

FILE_STORAGE_UPLOAD_DIR=/app/uploads

KAFKA_BOOTSTRAP_SERVERS=bm-kafka:9092