POSTGRES_DB=postgres
POSTGRES_USER=bm_user
POSTGRES_PASSWORD=bm_password

AUTH_DB_URL=jdbc:postgresql://postgres:5432/auth_db
AUTH_DB_USERNAME=bm_user
AUTH_DB_PASSWORD=bm_password

BUILDING_DB_URL=jdbc:postgresql://postgres:5432/building_db
BUILDING_DB_USERNAME=bm_user
BUILDING_DB_PASSWORD=bm_password

AUTH_JWT_SECRET=myVeryLongSecureJwtSecretKeyForBuildingManagement2026AtLeast32Chars
AUTH_JWT_EXPIRATION_MINUTES=60

AUTH_SERVICE_URL=http://bm-auth-service:8081
BUILDING_SERVICE_URL=http://bm-building-service:8083